.main {
  height: 100vh;
  width: 100vw;
  align-content: center;
  background-color: pink;
  align-content: center;
}
.active {
  color: crimson;
  background-color: blueviolet;
}
.inactive {
  color: aquamarine;
}
.caption {
  display: block;
  background-color: coral;
  font-size: larger;
  align-content: center;
}
